.content {
  display: inline-block;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: var(--main-text-color);
}

.title {
  font-size: 1em;
  margin: 0 0 0.1em;
}

.title mark {
  font-style: normal;
  color: var(--primary-color);
  background-color: transparent;
}
.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  font-size: 0.825em;
  color: var(--secondary-text-color);
}

.meta em {
  font-style: normal;
  color: var(--primary-color);
}

.seperator {
  display: inline-block;
  height: 1em;
  width: 1px;
  background-color: currentColor;
  margin: 0 0.75em;
  border: none;
}
